    .color {
        background-color: orange;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        text-align: center;
        border: 1px solid black;
    }
    
    .heading {
        margin: auto;
        background-color: green;
        width: 50%;
        text-align: center;
        color: white
    }
    
    .color p {
        font-size: 25px;
        color: white
    }
    
    .hello {
        height: 200px;
        width: 300px;
        margin: auto;
    }
    /* jquer  add class remove class toggle class style star */
    
    .button_margin {
        margin-top: 5%;
        margin-left: 30%;
        font-size: 30px;
    }
    
    .button {
        height: 100px;
        width: 200px;
        background-color: red;
        margin-right: 20px;
        border-radius: 50px;
        color: white;
        font-weight: bold;
    }
    
    .button2 {
        height: 100px;
        width: 200px;
        margin-right: 20px;
        border-radius: 50px;
        background-color: red;
        color: white;
        font-weight: bold;
    }
    
    .button3 {
        height: 100px;
        width: 200px;
        background-color: red;
        border-radius: 50px;
        color: white;
        font-weight: bold;
    }
    
    .button4 {
        height: 100px;
        width: 200px;
        background-color: red;
        border-radius: 50px;
        color: white;
        font-weight: bold;
    }
    /* jquer  add class remove class toggle class style star */